<div class="container">
  <nav class="row  green darken-1">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{config?.title | uppercase}}</span>
    </div>
  </nav>

  <div class="row">
    <ng-container *ngIf="editMode; then editOn; else editOff"></ng-container>
    <ng-template #editOff>
      <button class="btn col s2 offset-s10" (click)=" switchEditMode()">ADD NEW GRADE</button>
    </ng-template>
    <ng-template #editOn>
      <button class="btn col s2 offset-s10" (click)=" switchEditMode()">HIDE FORM</button>
    </ng-template>
  </div>

  <div class="row light-green" *ngIf="editMode">
    <form class="col s12"  (ngSubmit)="createGrades(formRef)" #formRef="ngForm">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <input class="col s4" type="text" placeholder="      grade name" name="grade" [(ngModel)]="nameGrade" require/>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
            <input class="col s4" type="text" placeholder="      start value %" name="start" [(ngModel)]="percentFrom" require/>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <input class="col s4" type="text" placeholder="      end value %" name="end" [(ngModel)]="percentTo" require/>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea" placeholder="grade description" name="description" [(ngModel)]="description"></textarea>
        </div>
        <button id="add" class="waves-effect waves-light btn-large"  [disabled]="percentFrom === '' || percentTo === ''">+</button>
        <button id="reset" type="reset" class="waves-effect red darken-1 btn-large">Cancel</button>
      </div>
  </form>
  </div>

  <ul class="collection" *ngIf="grades ; else noGrades">
    <ng-container *ngFor="let grade of grades; let i = index " >
      <li class="collection-item row light-green darken-2" >
        <span class="col s10">
          {{i+1}}. <strong>{{grade.name}}</strong> : {{grade.percent_from}}% - {{grade.percent_to}}%  <strong>{{grade.grade_description}}</strong>
        </span>
        <div class="col s2 right-align">
          <button class="btn-floating btn-small red" (click)="removeGrades(grade.id)">
            <i class="material-icons">remove</i>
          </button>
        </div>
      </li>
    </ng-container>
  </ul>

  <ng-template #noGrades>
    <h1>Finally holydays :-)</h1>
  </ng-template>

  <button class="btn red" (click)="clearGrades()" [disabled]="grades == 0">CLEAR GRADING LIST</button>

  <footer class="page-footer  green darken-1 mt-5">
    <div class="footer-copyright  green darken-1">
      <div class="container  green darken-1">
        {{config?.date | date:'short'}} {{config?.footer}}
      </div>
    </div>
  </footer>
</div>
