/* You can add global styles to this file, and also import other style files */
body{
    background-color: #cddc;
    color: white;
}
input{
    color:white;
    text-align: center;
}
#add{
   margin-left: 90%;
}
#reset{
    margin-top: 1%;
    margin-left: 86.5%;
}
