/* You can add global styles to this file, and also import other style files */
body{
    background-color: #cddc;
    color: white;
}
input{
    color:white;
    margin-left: 5px;
}
#add{
   margin-left: 90%;
}